<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mapper.logMapper">
	<!-- 로그 조회 -->
	<select id="listlog" resultType="kr.daoko.dto.LogListDTO">
		select l.plate, h.ssn, h.name, h.corp, h.tel, l.status, l.time
		from log l
		inner join hr h on l.plate = h.plate
		order by l.time desc
	</select>
	
	<!-- 현재 주차 차량 수 -->
	<select id="countPark" resultType="int">
		select
		count(case when status = 0 then 1 end) - count(case when status = 1 then 1 end) as parking
		from log
	</select>
</mapper>